{
    "rules": {
        // Strict
        "strict": [2, "global"],

        // Possible Errors
        "no-console": 1,

        // Best Practices
        "curly": 1,
        "dot-location": 1,
        "dot-notation": 1,
        "eqeqeq": [2, "smart"],
        "guard-for-in": 1,
        "no-alert": 1,
        "no-caller": 2,
        "no-div-regex": 2,
        "no-else-return": 2,
        "no-empty-label": 2,
        "no-eq-null": 0,
        "no-eval": 2,
        "no-extend-native": 1,
        "no-extra-bind": 2,
        "no-fallthrough": 1,
        "no-floating-decimal": 2,
        "no-implicit-coercion": 0,
        "no-implied-eval": 2,
        "no-invalid-this": 2,
        "no-iterator": 2,
        "no-labels": 2,
        "no-lone-blocks": 2,
        "no-loop-func": 1,
        "no-multi-spaces": 1,
        "no-multi-str": 1,
        "no-native-reassign": 2,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-new": 2,
        "no-octal-escape": 2,
        "no-octal": 1,
        "no-param-reassign": [2, {"props": true}],
        "no-process-env": 0,
        "no-proto": 2,
        "no-redeclare": 2,
        "no-return-assign": 2,
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-unused-expressions": [2, {
            allowShortCircuit: true,
            allowTernary: true
        }],
        "no-useless-call": 2,
        "no-useless-concat": 2,
        "no-void": 1,
        "no-warning-comments": 0,
        "no-with": 2,
        "radix": 1,
        "vars-on-top": 0,
        "wrap-iife": [2, "inside"],
        "yoda": 1,

        // Variables
        "init-declarations": 0,
        "no-catch-shadow": 0,
        "no-delete-var": 2,
        "no-label-var": 2,
        "no-shadow-restricted-names": 2,
        "no-shadow": [1, {"builtinGlobals": true}],
        "no-undef-init": 2,
        "no-undef": [2, {typeof: true}]
        "no-undefined": 0,
        "no-unused-vars": 2,
        "no-use-before-define": [2, "nofunc"],

        // Style
        "indent": [2, 4],
        "linebreak-style": [2, "unix"],
        "quotes": [2, "single"],
        "semi": [2, "always"]
    },
    "env": {
        "amd": true,
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "jsx": true
    },
    "plugins": [
        "react"
    ]
}
